# Compiled class file
*.class

# README files
README

# .txt files
*.txt

# Project 3 Testing Class Files  files
*p3TestClass*

*.lock
*.bin
*.properties
*.probe
*.jar
*.tar
*.MF
*.html
*.css
*.js
*.idx
*.xml
*.gradle
*.md
*.bat
*.uniqueId*
*.uniqueId*
*.zip
*.xml